* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

body {
  background-image: linear-gradient(to right, #030520, #08151a);
}

.game-info {
  display: flex;
  justify-content: space-around;
}

.score-text,
.high-score-text,
.level-text {
  text-align: center;
  padding: 10px;
  font-weight: bolder;
  font-size: x-large;
  color: rgb(179, 122, 122);
  text-shadow: 0 0 5px #341616,
    0 0 10px rgb(41, 4, 4),
    0 0 15px rgb(45, 8, 8),
    0 0 20px rgb(209, 169, 169),
    0 0 25px rgb(41, 2, 2);
}

.image-name {
  font-size: medium;
  padding: 5px;
  font-weight: bolder;
  color: rgb(5, 3, 3);
  text-shadow: 0px 0px 10px rgb(255, 255, 255),
    0px 0px 10px rgb(200, 185, 185),
    0px 0px 10px rgb(204, 191, 191),
    0px 0px 10px rgb(255, 255, 255),
    0px 0px 10px rgb(255, 255, 255),
    0px 0px 10px rgb(255, 255, 255);
  text-align: center;
  padding: 20px;

}

.card-container {
  width: max(210px, 80%);
  margin: 0 auto;
  align-items: center;
  padding: 30px 50px;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.card-container-loading {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-image: url('./loading.gif');
  background-color: #030520;
  background-position-x: center;
  background-size: 300px;
  background-position-y: center;
  background-repeat: no-repeat;
}

.card {
  width: fit-content;
  background-color: #9cc41918;
  height: max-content;
  justify-self: center;
  box-shadow: 0px 0px 4px 6px rgb(29, 41, 72);
}

.card img {
  width: 100%;
  height: 200px;
}